html, body , .container{
	height: 100%;
	width:100%;
}

.container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #CCCCCC;

}

#time{
	font-family: 'Roboto Mono', monospace;
	font-weight: bold 700;
	font-size: 10rem;
	margin-bottom: 10px;
}

#color{
	font-family: 'Roboto Mono', monospace;
	font-weight: thin;
	font-style: italic;
	font-size: 2.5rem;
	margin-top: 10px;
}